body {
  font-family: "Montserrat", sans-serif !important;
}
/* home page css */
.beeHive_container .Home_sectionOne_container {
  background-image: url("../images/homeImg.png");
  background-size: cover;
  height: 730px;
  background-repeat: no-repeat;
}
.beeHive_container .home_sectionSix_container {
  background-image: url("../images/applyImag.png");
  background-size: cover;
  height: 700px;
  background-repeat: no-repeat;
}
/* beehive page css stars from here */
.beeHive_container .beehive_sectionOne_container {
  background-image: url("../images/beehiveImage.png");
  background-size: cover;
  height: 730px;
  background-repeat: no-repeat;
}
.nav_links ul li:hover {
  color: #e75e14;
}
.beeHive_container .beehive_sectionOne_container .logo_links_container .logo,
.reviews_sectionOne_container .logo_links_container .logo,
.certificate_sectionOne_container .logo_links_container .logo,
.contact_sectionOne_container .logo_links_container .logo,
.Home_sectionOne_container .logo_links_container .logo {
  background-image: url("../images/logo1.png");
  background-size: contain;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
}
.beeHive_container .beehive_sectionTwelve_container {
  background: #09232c;
}
.beeHive_container .beehive_sectionTwelve_container .footer_logo {
  background-image: url("../images/logo-light1.png");
  background-size: contain;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
}
.beeHive_container .beehive_sectionOne_container .logo_links_container button {
  outline: none;
}
.beeHive_container .beehive_sectionOne_container .title_paragraph,
.reviews_sectionOne_container .title_paragraph,
.contact_sectionOne_container .title_paragraph,
.Home_sectionOne_container .title_paragraph {
  height: -webkit-fill-available;
}
.beeHive_container .beehive_sectionThree_container,
.beehive_sectionFive_container {
  background: #fcebe2;
}
.beeHive_container .progress_container .second_progress img {
  height: 100%;
}
.beeHive_container .beehive_sectionTen_container {
  background: linear-gradient(90deg, #d59671 0%, #ff8e4d 100%);
}
.beeHive_container .beehive_sectionEleven_container {
  background: #ff9c66;
  border: 1px solid #000000;
  box-shadow: 0px 13.8611px 55.4444px #f2f5fa;
}
/* beehive page css ends here */
/* review page css starts from here */
.reviews_sectionOne_container {
  background-image: url("../images/reviews.png");
  background-size: cover;
  height: 730px;
  background-repeat: no-repeat;
}
.reviews_sectionTwo_container .arrow_image {
  background-image: url("../images/downArrow.png");
  background-size: contain;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
}
.reviews_sectionTwo_container .arrowUpward_image {
  background-image: url("../images/arrowUpward.png");
  background-size: contain;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
}
/* .certificate css */
.certificate_sectionOne_container {
  background-image: url("../images/certificate.png");
  background-size: cover;
  height: 290px;
  background-repeat: no-repeat;
}
/* contact us css */
.contact_sectionOne_container {
  background-image: url("../images/contactCover.png");
  background-size: cover;
  height: 730px;
  background-repeat: no-repeat;
}
.contactUs_section4 {
  background-image: url("../images/contactus2.png");
  background-size: cover;
  height: 730px;
  background-repeat: no-repeat;
}
.contactUs_section4 .content_container {
  height: inherit;
}
/* common css */
.beehive_common_blue_color {
  color: #0d3d4d;
}
.beehive_common_orange_color {
  color: #fc6411;
}
.beehive_common_background_orange_color {
  background-color: #fc6411;
}
.beehive_common_background_orange_color:hover {
  background-color: #e75e14;
}
.pink_background_color {
  background: #fcebe2;
}
.outline-none {
  outline: none!important;
}
/* sidenav for mobile */
.mobile_sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.mobile_sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.mobile_sidenav a:hover {
  color: #f1f1f1;
}

.mobile_sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* carousal css */
/* Slideshow container */
.Home_carousal_container .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.Home_carousal_container .prev,
.Home_carousal_container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #bdb9b9;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.Home_carousal_container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.Home_carousal_container .prev:hover,
.Home_carousal_container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.Home_carousal_container .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.Home_carousal_container .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.Home_carousal_container .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.Home_carousal_container .active,
.Home_carousal_container .dot:hover {
  background-color: #fc6411;
}

/* Fading animation */
.Home_carousal_container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .Home_carousal_container .prev,
  .Home_carousal_container .next,
  .Home_carousal_container .text {
    font-size: 11px;
  }
}

/* collapsible styling */
.home_sectionEight_container .collapsible {
  background-color: #ecf2f5;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.home_sectionEight_container .active,
.collapsible:hover {
  background-color: #e75e14;
  color: #fff;
}

.home_sectionEight_container .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #fff;
}
